@-moz-keyframes balls-spin {
  from {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes balls-spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-o-keyframes balls-spin {
  from {
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-ms-keyframes balls-spin {
  from {
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes balls-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.spinner.balls {
  position: relative;
  width: 36px;
  height: 36px;
}

.spinner.balls > div {
  position: absolute;
  width: 5px;
  height: 5px;
  top: 0;
  left: 18px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-transform-origin: 0 18px;
  -moz-transform-origin: 0 18px;
  -ms-transform-origin: 0 18px;
  -o-transform-origin: 0 18px;
  transform-origin: 0 18px;
  -webkit-animation-name: balls-spin;
  -moz-animation-name: balls-spin;
  -ms-animation-name: balls-spin;
  -o-animation-name: balls-spin;
  animation-name: balls-spin;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-timing-function: ease-in-out;
  -ms-animation-timing-function: ease-in-out;
  -o-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-duration: 1500ms;
  -moz-animation-duration: 1500ms;
  -ms-animation-duration: 1500ms;
  -o-animation-duration: 1500ms;
  animation-duration: 1500ms;
}

.spinner.balls > div:nth-of-type(1) {
  background-color: #555555;
  -webkit-animation-delay: 100ms;
  -moz-animation-delay: 100ms;
  -ms-animation-delay: 100ms;
  -o-animation-delay: 100ms;
  animation-delay: 100ms;
}

.spinner.balls > div:nth-of-type(2) {
  background-color: #626262;
  -webkit-animation-delay: 200ms;
  -moz-animation-delay: 200ms;
  -ms-animation-delay: 200ms;
  -o-animation-delay: 200ms;
  animation-delay: 200ms;
}

.spinner.balls > div:nth-of-type(3) {
  background-color: #6e6e6e;
  -webkit-animation-delay: 300ms;
  -moz-animation-delay: 300ms;
  -ms-animation-delay: 300ms;
  -o-animation-delay: 300ms;
  animation-delay: 300ms;
}

.spinner.balls > div:nth-of-type(4) {
  background-color: #7b7b7b;
  -webkit-animation-delay: 400ms;
  -moz-animation-delay: 400ms;
  -ms-animation-delay: 400ms;
  -o-animation-delay: 400ms;
  animation-delay: 400ms;
}

.spinner.balls > div:nth-of-type(5) {
  background-color: #888888;
  -webkit-animation-delay: 500ms;
  -moz-animation-delay: 500ms;
  -ms-animation-delay: 500ms;
  -o-animation-delay: 500ms;
  animation-delay: 500ms;
}
