@-moz-keyframes clock-spinleft {
  from {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -moz-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}

@-webkit-keyframes clock-spinleft {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}

@-o-keyframes clock-spinleft {
  from {
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}

@-ms-keyframes clock-spinleft {
  from {
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -ms-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}

@keyframes clock-spinleft {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(-360deg);
  }
}

@-moz-keyframes clock-spinright {
  from {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes clock-spinright {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-o-keyframes clock-spinright {
  from {
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-ms-keyframes clock-spinright {
  from {
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes clock-spinright {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.spinner.clock {
  position: relative;
  height: 46px;
  width: 46px;
}

.spinner.clock > div {
  position: absolute;
  border-style: solid;
  background-color: transparent;
}

.spinner.clock .circle {
  width: 36px;
  height: 36px;
  border-width: 5px;
  border-color: #555;
  -webkit-border-radius: 36px;
  -moz-border-radius: 36px;
  -ms-border-radius: 36px;
  -o-border-radius: 36px;
  border-radius: 36px;
}

.spinner.clock .wedge {
  width: 0;
  height: 0;
  border-width: 23px;
  border-color: #999 transparent transparent transparent;
  -webkit-border-radius: 23px;
  -moz-border-radius: 23px;
  -ms-border-radius: 23px;
  -o-border-radius: 23px;
  border-radius: 23px;
  -webkit-animation: clock-spinright 1250ms linear 0s infinite;
  -moz-animation: clock-spinright 1250ms linear 0s infinite;
  -ms-animation: clock-spinright 1250ms linear 0s infinite;
  -o-animation: clock-spinright 1250ms linear 0s infinite;
  animation: clock-spinright 1250ms linear 0s infinite;
}
.spinner.clock .wedge:before, .spinner.clock .wedge:after {
  content: ' ';
  position: absolute;
  margin: 0;
  top: -23px;
  left: -23px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 23px;
  border-color: transparent #fff #fff #fff;
  -webkit-border-radius: 23px;
  -moz-border-radius: 23px;
  -ms-border-radius: 23px;
  -o-border-radius: 23px;
  border-radius: 23px;
}
.spinner.clock .wedge:before {
  -webkit-transform: rotate(-30deg);
  -moz-transform: rotate(-30deg);
  -ms-transform: rotate(-30deg);
  -o-transform: rotate(-30deg);
  transform: rotate(-30deg);
}
.spinner.clock .wedge:after {
  -webkit-transform: rotate(20deg);
  -moz-transform: rotate(20deg);
  -ms-transform: rotate(20deg);
  -o-transform: rotate(20deg);
  transform: rotate(20deg);
}

.spinner.clock .arc {
  width: 36px;
  height: 36px;
  border-width: 5px;
  border-color: transparent transparent #bbb transparent;
  -webkit-border-radius: 36px;
  -moz-border-radius: 36px;
  -ms-border-radius: 36px;
  -o-border-radius: 36px;
  border-radius: 36px;
  -webkit-animation: clock-spinleft 750ms linear 0s infinite;
  -moz-animation: clock-spinleft 750ms linear 0s infinite;
  -ms-animation: clock-spinleft 750ms linear 0s infinite;
  -o-animation: clock-spinleft 750ms linear 0s infinite;
  animation: clock-spinleft 750ms linear 0s infinite;
}
