.spinner.dashes {
  position: relative;
  width: 36px;
  height: 36px;
}

.spinner.dashes > div {
  position: absolute;
  width: 4px;
  height: 11px;
  top: 0;
  left: 16px;
  background-color: transparent;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-transform-origin: 2px 18px;
  -moz-transform-origin: 2px 18px;
  -ms-transform-origin: 2px 18px;
  -o-transform-origin: 2px 18px;
  transform-origin: 2px 18px;
  -webkit-animation-name: hashes-lighten;
  -moz-animation-name: hashes-lighten;
  -ms-animation-name: hashes-lighten;
  -o-animation-name: hashes-lighten;
  animation-name: hashes-lighten;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -ms-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-duration: 1000ms;
  -moz-animation-duration: 1000ms;
  -ms-animation-duration: 1000ms;
  -o-animation-duration: 1000ms;
  animation-duration: 1000ms;
}

.spinner.dashes > div:nth-of-type(1) {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-animation-delay: 100ms;
  -moz-animation-delay: 100ms;
  -ms-animation-delay: 100ms;
  -o-animation-delay: 100ms;
  animation-delay: 100ms;
}

.spinner.dashes > div:nth-of-type(2) {
  -webkit-transform: rotate(36deg);
  -moz-transform: rotate(36deg);
  -ms-transform: rotate(36deg);
  -o-transform: rotate(36deg);
  transform: rotate(36deg);
  -webkit-animation-delay: 200ms;
  -moz-animation-delay: 200ms;
  -ms-animation-delay: 200ms;
  -o-animation-delay: 200ms;
  animation-delay: 200ms;
}

.spinner.dashes > div:nth-of-type(3) {
  -webkit-transform: rotate(72deg);
  -moz-transform: rotate(72deg);
  -ms-transform: rotate(72deg);
  -o-transform: rotate(72deg);
  transform: rotate(72deg);
  -webkit-animation-delay: 300ms;
  -moz-animation-delay: 300ms;
  -ms-animation-delay: 300ms;
  -o-animation-delay: 300ms;
  animation-delay: 300ms;
}

.spinner.dashes > div:nth-of-type(4) {
  -webkit-transform: rotate(108deg);
  -moz-transform: rotate(108deg);
  -ms-transform: rotate(108deg);
  -o-transform: rotate(108deg);
  transform: rotate(108deg);
  -webkit-animation-delay: 400ms;
  -moz-animation-delay: 400ms;
  -ms-animation-delay: 400ms;
  -o-animation-delay: 400ms;
  animation-delay: 400ms;
}

.spinner.dashes > div:nth-of-type(5) {
  -webkit-transform: rotate(144deg);
  -moz-transform: rotate(144deg);
  -ms-transform: rotate(144deg);
  -o-transform: rotate(144deg);
  transform: rotate(144deg);
  -webkit-animation-delay: 500ms;
  -moz-animation-delay: 500ms;
  -ms-animation-delay: 500ms;
  -o-animation-delay: 500ms;
  animation-delay: 500ms;
}

.spinner.dashes > div:nth-of-type(6) {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-animation-delay: 600ms;
  -moz-animation-delay: 600ms;
  -ms-animation-delay: 600ms;
  -o-animation-delay: 600ms;
  animation-delay: 600ms;
}

.spinner.dashes > div:nth-of-type(7) {
  -webkit-transform: rotate(216deg);
  -moz-transform: rotate(216deg);
  -ms-transform: rotate(216deg);
  -o-transform: rotate(216deg);
  transform: rotate(216deg);
  -webkit-animation-delay: 700ms;
  -moz-animation-delay: 700ms;
  -ms-animation-delay: 700ms;
  -o-animation-delay: 700ms;
  animation-delay: 700ms;
}

.spinner.dashes > div:nth-of-type(8) {
  -webkit-transform: rotate(252deg);
  -moz-transform: rotate(252deg);
  -ms-transform: rotate(252deg);
  -o-transform: rotate(252deg);
  transform: rotate(252deg);
  -webkit-animation-delay: 800ms;
  -moz-animation-delay: 800ms;
  -ms-animation-delay: 800ms;
  -o-animation-delay: 800ms;
  animation-delay: 800ms;
}

.spinner.dashes > div:nth-of-type(9) {
  -webkit-transform: rotate(288deg);
  -moz-transform: rotate(288deg);
  -ms-transform: rotate(288deg);
  -o-transform: rotate(288deg);
  transform: rotate(288deg);
  -webkit-animation-delay: 900ms;
  -moz-animation-delay: 900ms;
  -ms-animation-delay: 900ms;
  -o-animation-delay: 900ms;
  animation-delay: 900ms;
}

.spinner.dashes > div:nth-of-type(10) {
  -webkit-transform: rotate(324deg);
  -moz-transform: rotate(324deg);
  -ms-transform: rotate(324deg);
  -o-transform: rotate(324deg);
  transform: rotate(324deg);
  -webkit-animation-delay: 1000ms;
  -moz-animation-delay: 1000ms;
  -ms-animation-delay: 1000ms;
  -o-animation-delay: 1000ms;
  animation-delay: 1000ms;
}

@-moz-keyframes hashes-lighten {
  0% {
    background-color: #555555;
  }

  10% {
    background-color: dimgrey;
  }

  20% {
    background-color: #7e7e7e;
  }

  30% {
    background-color: #929292;
  }

  40% {
    background-color: #a7a7a7;
  }

  50% {
    background-color: #bbbbbb;
  }

  60% {
    background-color: #cfcfcf;
  }

  70% {
    background-color: #e4e4e4;
  }

  80% {
    background-color: #f8f8f8;
  }

  90% {
    background-color: white;
  }

  100% {
    background-color: white;
  }
}

@-webkit-keyframes hashes-lighten {
  0% {
    background-color: #555555;
  }

  10% {
    background-color: dimgrey;
  }

  20% {
    background-color: #7e7e7e;
  }

  30% {
    background-color: #929292;
  }

  40% {
    background-color: #a7a7a7;
  }

  50% {
    background-color: #bbbbbb;
  }

  60% {
    background-color: #cfcfcf;
  }

  70% {
    background-color: #e4e4e4;
  }

  80% {
    background-color: #f8f8f8;
  }

  90% {
    background-color: white;
  }

  100% {
    background-color: white;
  }
}

@-o-keyframes hashes-lighten {
  0% {
    background-color: #555555;
  }

  10% {
    background-color: dimgrey;
  }

  20% {
    background-color: #7e7e7e;
  }

  30% {
    background-color: #929292;
  }

  40% {
    background-color: #a7a7a7;
  }

  50% {
    background-color: #bbbbbb;
  }

  60% {
    background-color: #cfcfcf;
  }

  70% {
    background-color: #e4e4e4;
  }

  80% {
    background-color: #f8f8f8;
  }

  90% {
    background-color: white;
  }

  100% {
    background-color: white;
  }
}

@-ms-keyframes hashes-lighten {
  0% {
    background-color: #555555;
  }

  10% {
    background-color: dimgrey;
  }

  20% {
    background-color: #7e7e7e;
  }

  30% {
    background-color: #929292;
  }

  40% {
    background-color: #a7a7a7;
  }

  50% {
    background-color: #bbbbbb;
  }

  60% {
    background-color: #cfcfcf;
  }

  70% {
    background-color: #e4e4e4;
  }

  80% {
    background-color: #f8f8f8;
  }

  90% {
    background-color: white;
  }

  100% {
    background-color: white;
  }
}

@keyframes hashes-lighten {
  0% {
    background-color: #555555;
  }

  10% {
    background-color: dimgrey;
  }

  20% {
    background-color: #7e7e7e;
  }

  30% {
    background-color: #929292;
  }

  40% {
    background-color: #a7a7a7;
  }

  50% {
    background-color: #bbbbbb;
  }

  60% {
    background-color: #cfcfcf;
  }

  70% {
    background-color: #e4e4e4;
  }

  80% {
    background-color: #f8f8f8;
  }

  90% {
    background-color: white;
  }

  100% {
    background-color: white;
  }
}
