body { font-family: sans-serif,arial; }
.main { font-size: 10pt; width: 650px; margin: auto; }
.wrapper { margin: 10px; display: inline-block; width: 190px; height: 110px; }
.spinner { margin: auto; }
.label { font-size: 7pt; text-align: center; margin-bottom: 10px; white-space: nowrap; }
